/**
 * WCAG AA is the ideal setup, you can use this checklist to check your work::after
 * https://www.a11yproject.com/checklist/
 */
a,
button {

	&:focus-visible {
		outline: 1px dotted;
		outline-offset: 4px;
	}
}

/**
 * Hide image flash on browsers that display <img /> during lazyload
 */
img:not([src]):not([srcset]) {
	visibility: hidden;
}

/**
 * Reduced Motion fallback properties
 * https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
 */
@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-duration: 0s !important;
		transition-delay: 0s !important;
	}
}