/**
 * Typography
 *	- base model off Kizik
 */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	font-family: $headline;
	letter-spacing: -0.03em;
	line-height: 1;
}

h6,
.h6 {
	font-family: $headline-alt;
}

h1,
.h1 {
	font-size: em(40px);
	font-weight: 500;

	@include tablet {
		font-size: em(65px);
	}

	@include desktop {
		font-size: em(80px);
	}
}

h2,
.h2 {
	font-size: em(32px);
	font-weight: 500;

	@include tablet {
		font-size: em(48px);
	}

	@include desktop {
		font-size: em(64px);
	}
}

h3,
.h3 {
	font-size: em(28px);
	font-weight: 400;

	@include tablet {
		font-size: em(36px);
	}

	@include desktop {
		font-size: em(48px);
	}
}

h4,
.h4 {
	font-size: em(24px);
	font-weight: 400;

	@include tablet {
		font-size: em(28px);
	}

	@include desktop {
		font-size: em(32px);
	}
}

h5,
.h5 {
	font-size: em(20px);
	font-weight: 400;

	@include tablet {
		font-size: em(22px);
	}

	@include desktop {
		font-size: em(24px);
	}
}

h6,
.h6 {
	font-size: em(16px);
	font-weight: 400;
}

p {
	font-size: em(14px);
	letter-spacing: -0.01em;
	line-height: 1.35;

	@include tablet {
		font-size: em(15px);
	}

	@include desktop {
		font-size: em(16px);
	}

	a {
		text-decoration: underline;
	}

	&.lg {
		font-size: em(16px);

		@include tablet {
			font-size: em(18px);
		}

		@include desktop {
			font-size: em(20px);
		}
	}
}

.eyebrow {
	font-family: $headline-alt;
	font-size: em(13px);
	letter-spacing: -0.03em;
	line-height: 1;

	@include desktop {
		font-size: em(14px);
	}
}

.richtext {

	> * {
		margin-bottom: var(--content-gap, 20px);

		&:last-child {
			margin-bottom: 0;
		}
	}

	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {

		a {
			text-decoration: underline;
		}
	}

	p {

		a {

		}
	}

	ol,
	ul {
		list-style-type: revert;
		padding-left: 30px;

		li {

			a {

			}
		}
	}

	.table-wrapper {
		border: 2px solid $tableBorder;
		overflow-x: auto;
		max-width: 100%;
		width: 100%;

		&::-webkit-scrollbar {
			height: 0;
			width: 0;
		}

		&.no-border {
			border: 0 none;
		}
	}

	table {
		background-color: $tableBackground;
		border-collapse: collapse;
		min-width: 100%;
		table-layout: fixed;
		text-align: left;

		caption {
			caption-side: bottom;
			font-size: 13px;
			padding: 10px;
		}

		tr {
			border-bottom: 1px solid $tableBorder;

			&:last-of-type {
				border-bottom: 0 none;
			}
		}

		td {
			border-right: 1px solid $tableBorder;
			font-size: 13px;
			min-width: 200px;
			padding: 8px 10px;
			vertical-align: top;
			white-space: wrap;

			> * {
				line-height: 1.35;
				margin: 0 0 6px;

				&:last-child {
					margin: 0;
				}
			}

			&:last-child {
				border-right: 0 none;
			}
		}

		thead {

			td,
			th {
				background-color: $tableHead;
				color: $tableHeadFont;
				font-size: 14px;
				font-weight: bold;
				padding: 8px 10px;
				vertical-align: middle;
			}

			tr {

			}
		}

		tbody {

			tr {

				&:nth-child(odd) {
					background-color: $tableRow;
				}

				&:nth-child(even) {
					background-color: $tableRowAlt;
				}
			}
		}

		tfoot {

			th {
				text-align: right;
			}
		}
	}

	img {

	}

	sup {
		font-size: 65%;
		font-weight: 400;
		left: -0.25em;
		top: -0.65em;
		vertical-align: baseline;
	}

	sub {
		bottom: -0.45em;
		font-size: 65%;
		font-weight: 400;
		left: -0.25em;
		vertical-align: baseline;
	}

	blockquote {

	}

	small {
		font-size: em(13);
	}

	/** Prismic Image Block */
	.block-img {
		display: flex;
		justify-content: center;
	}
}