.btn {

	/** Style Defaults */
	&,
	&-inherit,
	&-inherit-reverse,
	&-reverse,
	&-secondary,
	&-secondary-reverse {
		align-items: center;
		border-radius: var(--border-radius-inner, 8px);
		border-style: solid;
		border-width: var(--border-width, 2px);
		display: inline-flex;
		font-family: $body;
		font-size: em(16px);
		font-weight: 700;
		justify-content: center;
		line-height: 1;
		max-width: var(--button-max-width, "none");
		padding: 24px 48px;
		white-space: nowrap;

		@include desktop {
			height: 64px;
		}

		&:focus-visible {
			outline: 1px dotted;
			outline-offset: -6px;
		}

		> :last-child {
			margin-left: var(--content-gap, 16px);
		}

		> :first-child {
			margin: 0 !important;
		}
	}

	/** Theme ~ Primary */
	background-color: var(--theme-color-button-background);
	border-color: var(--theme-color-button-background);
	color: var(--theme-color-button-font);

	&:focus-visible,
	&:hover {
		background-color: var(--theme-color-button-font);
		border-color: var(--theme-color-button-background);
		color: var(--theme-color-button-background);
	}

	/** Theme ~ Reverse */
	&-reverse {
		background-color: var(--theme-color-button-accent);
		border-color: var(--theme-color-button-accent);
		color: var(--theme-color-button-font);

		&:focus-visible,
		&:hover {
			background-color: var(--theme-color-button-font);
			border-color: var(--theme-color-button-accent);
			color: var(--theme-color-button-accent);
		}
	}

	/** Theme ~ Secondary */
	&-secondary {
		background-color: var(--theme-color-button-background);
		border-color: var(--theme-color-button-background);
		color: var(--theme-color-button-font);

		&:focus-visible,
		&:hover {
			background-color: var(--theme-color-button-font);
			border-color: var(--theme-color-button-background);
			color: var(--theme-color-button-background);
		}
	}

	/** Theme ~ Secondary ~ Reverse */
	&-secondary-reverse {
		background-color: var(--theme-color-button-accent);
		border-color: var(--theme-color-button-accent);
		color: var(--theme-color-button-font);

		&:focus-visible,
		&:hover {
			background-color: var(--theme-color-button-font);
			border-color: var(--theme-color-button-accent);
			color: var(--theme-color-button-accent);
		}
	}

	/** Theme ~ Inherited (from Richtext colors) */
	&-inherit {
		background-color: var(--content-color, var(--theme-color-button-background));
		border-color: var(--content-color, var(--theme-color-button-background));
		color: var(--background-color, var(--theme-color-button-font));

		&:focus-visible,
		&:hover {
			background-color: var(--background-color, var(--theme-color-button-font));
			border-color: var(--content-color, var(--theme-color-button-background));
			color: var(--content-color, var(--theme-color-button-background));
		}
	}

	/** Theme ~ Inherited ~ Reverse (from Richtext colors) */
	&-inherit-reverse {
		background-color: var(--background-color, var(--theme-color-button-background));
		border-color: var(--content-color, var(--theme-color-button-background));
		color: var(--content-color, var(--theme-color-button-font));

		&:focus-visible,
		&:hover {
			background-color: var(--content-color, var(--theme-color-button-font));
			border-color: var(--content-color, var(--theme-color-button-background));
			color: var(--background-color, var(--theme-color-button-background));
		}
	}

	/** Theme ~ Text */
	&-text {
		text-decoration: underline;
		white-space: nowrap;

		&:focus-visible {
			outline: 1px dotted;
			outline-offset: 4px;
		}
	}

	/** Inputs */
	&-input {

		&,
		& + label {

		}
	}

	&-icon {
		align-items: center;
		aspect-ratio: 1/1;
		border-radius: var(--border-radius-input, 8px);
		display: inline-flex;
		justify-content: center;
		min-height: 30px;
		min-width: 30px;
		padding: 4px;

		svg {

		}

		// TODO: Does this button need a hover?
		&:hover {

			svg {

			}
		}

		&:focus-visible {
			outline: 1px dotted;
			outline-offset: 4px;
		}

		// TODO: Active page link styles?
		&.is-page {

		}
	}

	&-option {

		input {

			&:focus-visible {

				& + label {
					outline: 1px dotted;
					outline-offset: 2px;
				}
			}
		}

		input + label {
			background-color: var(--theme-color-button-font);
			border: 2px solid var(--theme-color-button-background);
			border-radius: var(--border-radius-input, 8px);
			cursor: pointer;
			display: inline-flex;
			min-width: 40px;
			padding: 6px 10px;
			justify-content: center;

			&:before,
			&:after {
				display: none !important;
			}

			&:hover {
				background-color: var(--theme-color-button-background);
				color: var(--theme-color-button-font);
			}
		}

		input:checked + label {
			background-color: var(--theme-color-button-background);
			color: var(--theme-color-button-font);
		}
	}

	&-material {
		background-color: transparent;
		cursor: pointer;
		display: inline-flex;
		font-size: 15px;
		font-weight: 600;
		outline: 0 none;
		position: relative;

		&:focus-visible {
			outline: 0 none;
		}

		span {
			background-color: var(--theme-color-button-font);
			border: 2px solid var(--theme-color-button-background);
			border-radius: var(--border-radius-input);
			color: var(--theme-color-button-background);
			display: inline-flex;
			padding: 8px 10px;
			position: relative;
			text-align: center;
			transition: transform 50ms ease-in-out;
			width: auto;
			z-index: 2;

			&:nth-child(2) {
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				transform: translateX(4px) translateY(4px);
				width: 100%;
				z-index: 1;
			}
		}

		&:hover,
		&:active,
		&.is-page {

			span:nth-child(1) {
				background-color: var(--theme-color-button-background);
				color: var(--theme-color-button-font);
			}
		}

		&:active,
		&.is-page {

			span:nth-child(1) {
				transform: translateX(4px) translateY(4px);
			}

			span:nth-child(2) {

			}
		}

		&:focus-visible {

			span:nth-child(1) {
				outline: 1px dotted;
				outline-offset: -4px;
			}
		}
	}

	&-pill {
		background-color: var(--theme-color-button-background);
		border: 2px solid var(--theme-color-button-background);
		border-radius: var(--border-radius-input, 8px);
		color: var(--theme-color-button-font);
		padding: 2px 8px;
	}

	&-nav {
		border-radius: var(--border-radius-inner, 8px);

		&:hover {

		}

		&:focus-visible {

		}

		// TODO: Active page link styles?
		&.is-active {

		}
	}
}

.btn-circle {
	background-color: var(--theme-color-background);
	border-color: var(--theme-color-font);
	color: var(--theme-color-font);
	border: 2px solid currentColor;
	border-radius: 100%;
	display: block;
	padding: 5px;

	&:active,
	&:focus-visible,
	&:hover,
	&.is-active {
		background-color: var(--theme-color-font);
		border-color: var(--theme-color-font);
		color: var(--theme-color-background);
	}

	&:focus-visible {
		outline: 1px dotted;
		outline-offset: -4px;
	}
}

.btn-hamburger {
	height: 30px;

	&:focus-visible {
		outline: 1px dotted;
		outline-offset: 4px;
	}

	> span {
		width: 30px;
		height: 26px;
		display: inline-block;
		position: relative;

		> span {
			display: block;
			top: 50%;
			margin-top: 4px / -2;
			transition-duration: 0.075s;
        	transition-timing-function: $ease-in-cubic;

			&,
			&::before,
			&::after {
				width: 30px;
				height: 4px;
				background-color: var(--theme-primary-background);
				border-radius: 4px;
				position: absolute;
				transition-property: transform;
				transition-duration: 0.15s;
				transition-timing-function: ease;
			}

			&::before,
			&::after {
				content: "";
				display: block;
			}

			&::before {
				top: -10px;
				transition: top 0.075s 0.12s ease, opacity 0.075s ease;
			}

			&::after {
				bottom: -10px;
				transition: bottom 0.075s 0.12s ease,
                transform 0.075s $ease-in-cubic;
			}
		}
	}

	&.is-active {

		> span {

			> span {
				transform: rotate(45deg);
				transition-delay: 0.12s;
				transition-timing-function: $ease-out-cubic;

				&,
				&::before,
				&::after {
					background-color: $black;
				}

				&::before {
					top: 0;
					opacity: 0;
					transition: top 0.075s ease, opacity 0.075s 0.12s ease;
				}

				&::after {
					bottom: 0;
					transform: rotate(-90deg);
					transition: bottom 0.075s ease,
					transform 0.075s 0.12s $ease-out-cubic;
				}
			}
		}
	}
}

.btn-input,
.btn-input + label {
	align-items: center;
	background-color: var(--theme-color-button-font);
	border: 2px solid var(--theme-color-button-background);
	border-radius: var(--border-radius-input, 6px);
	box-sizing: content-box;
	color: var(--theme-color-button-background);
	cursor: pointer;
	display: flex;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 1;
	justify-content: center;
	margin: 0;
	min-height: 28px;
	min-width: 20px;
	padding: 4px 8px;

	&:hover {
		background-color: var(--theme-color-button-background);
		border-color: var(--theme-color-button-background);
		color: var(--theme-color-button-font);
	}

	&:focus-visible,
	&:focus-visible + label span:nth-child(1) {
		outline: 1px dotted;
		outline-offset: -4px;
	}

	svg {
		min-height: 20px;
		min-width: 20px;
	}
}

.btn-input {

	&:focus-visible,
	&:focus-visible + label {
		outline: 1px dotted;
		outline-offset: -4px;
	}

	&:checked + label {
		background-color: var(--theme-color-button-background);
		border-color: var(--theme-color-button-background);
		color: var(--theme-color-button-font);
	}
}

.btn-select {
	position: relative;

	.icon {
		pointer-events: none;
		position: absolute;
		right: 8px;
		top: 50%;
		transform: translateY(-50%);
	}
}

.btn-select select {
	appearance: none;
	background-color: var(--theme-color-background);
	border: 2px solid var(--theme-color-font);
	border-radius: var(--border-radius-input, 6px);
	box-sizing: border-box;
	color: var(--theme-color-font);
	padding: 8px 28px 8px 8px;

	&:focus-visible,
	&:focus-visible + label {
		outline: 1px dotted;
		outline-offset: -4px;
	}

	@include desktop {
		height: 64px;
	}
}