.slice-section {
	min-height: 100%;
	position: relative;

	&:empty {
		display: none;
	}
}

.group-section {

	&:empty {
		display: none;
	}

	// Section has gaps
	.grid-gap {

		.slice-section {
			border-radius: var(--border-radius);
		}
	}

	.slice-section {

	}
}