.tooltip {

	&,
	&-dashboard {
		border-radius: var(--border-radius-input);
		left: 50%;
		max-width: 210px;
		position: absolute;
		text-align: center;
		top: -5px;
		transform: translateX(-50%) translateY(-100%);
		visibility: hidden;
		width: max-content;

		&:after {
			border-width: 6px;
			border-style: solid;
			content: "";
			left: 50%;
			margin-left: -6px;
			position: absolute;
			top: calc(100% - 1px);
		}
	}

	&-hover {
		position: relative;

		&:hover:not(:focus-visible) {

			.tooltip {

				&,
				&-dashboard {
					visibility: visible;
				}
			}
		}

		button:focus-visible {

			& + .tooltip {

				&,
				&-dashboard {
					visibility: visible;
				}
			}
		}
	}

	&-dashboard {
		background-color: var(--theme-color-font);
		color: var(--theme-color-background);
		font-size: 13px;
		padding: 4px 8px;

		> * {
			margin-bottom: 10px;
			line-height: 1.25;

			&:last-child {
				margin-bottom: 0;
			}
		}

		small {

			&,
			& > strong {
				font-size: 12px;
				line-height: 1.25;
			}
		}

		&:after {
			border-color: var(--theme-color-font) transparent transparent transparent;
		}
	}
}